spacy==2.1.3
Werkzeug
itsdangerous
MarkupSafe
Jinja2
click
flask
pytz
python-dateutil 
pandas
sortedcontainers
pycryptodome
pdfminer.six
scipy
joblib
scikit-learn
sklearn 
fuzzywuzzy 
soupsieve 
beautifulsoup4 
bs4
numpy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
PyPDF2       
python-Levenshtein